@use 'tokens' as tokens;
@use '../theme' as common;
@use '@angular/material' as mat;

.flow-theme-secondary {
    @include common.flow-theme-common(
        $header-bg: tokens.$violet-500,
        $header-color: tokens.$default-50,
        $incoming-bg: tokens.$default-100,
        $incoming-color: tokens.$default-800,
        $outgoing-bg: tokens.$violet-700,
        $outgoing-color: tokens.$default-50
    );
}
